<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">
    <% newListItems.forEach((item) => { %> <!--List items part-->
    <form action="/delete" method="post">
      <div class="item">
        <input type="checkbox" name="checkbox" value="<%=item._id%>" onChange="this.form.submit()"> <!--Normalde olduğu gibi name verip bu formun /delete'e post request olarak gitmesi sağlandı-->
        <p><%= item.name  %></p>
      </div>
      <input type="hidden" name="listName" value="<%=listTitle%>"> <!--Checkbox'a basılıp silinmek istendiğinde hangi liste olduğunun ismini vermek için-->
    </form>
    <% }) %>

    <form class="item" action="/" method="post"> <!--Input and button for adding item -->
      <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
      <button type="submit" name="list" value="<%=listTitle%>">+</button>
    </form>
  </div>

<%- include("footer") -%>
